<section class="align-center grid-block header">
    <div class="small-6 grid-block">
        <a href="http://www.nextwaresessions.org">
            <img class="logo" src="./assets/img/nextware-logo-216x84@2x.png" />
        </a>
    </div>
</section>

<section class="tools-nav">
  <div class="grid-block">
    <div class="grid-content small-4">
        <a class="button expand" ui-sref="threat-assessment" ui-sref-active="active">THREAT ASSESSMENT</a>
    </div>
    <div class="grid-content small-4">
        <a class="button expand" ui-sref="issue-scoping" ui-sref-active="active">ISSUE SCOPING</a>
    </div>
    <div class="grid-content small-4">
        <a class="button expand" ui-sref="impact-over-time" ui-sref-active="active">IMPACT OVER TIME</a>
    </div>
  </div>
</section>