<form>
	<div class="scroll-section scrollable">
		<div class="grid-block">
			<div class="medium-4 grid-content"></div>
			<div class="medium-2 grid-content" ng-show="stakeholdertypes">
				<h5>Type</h5>
			</div>
			<div class="medium-2 grid-content" ng-repeat="facet in facets.list" ng-if="facet.name">
				<h5 ng-model="facet.name">{{facet.name}}</h5>
			</div>
		</div>

		<ul class="field-list">
			<li class="grid-block fadeIn" ng-repeat="sh in stakeholdersfacets.list">
				<div class="medium-4 grid-content">
					<h3>{{$index + 1}}</h3><input type="text" value="{{sh.name}}" placeholder="Stakeholder" ng-model="sh.name">
				</div>
				<div class="medium-2 grid-content fadeIn" ng-show="stakeholdertypes">
					<select ng-model="sh.type" ng-options="type.value as type.text for type in stakeholders.types"></select>
				</div>
				<div class="medium-2 grid-content fadeIn" ng-repeat="data in sh.data[type]" ng-if="facets.list[data.facetId].name">
					<select ng-model="data.value" ng-options="option.value as option.text for option in stakeholdersfacets.options"></select>
				</div>
			</li>
		</ul>
	</div>
	<hr>
	<p><a class="add-link" ng-click="addStakeholderFacets()"><span class="fi-plus-thin"></span>Add New</a></p>
</form>